@import '../../../variable';

.layout {  
  .navbar {
    padding: 0 25px;
    @media (min-width: 768px) and (max-width: 1024px) {
      // tablet size
      padding: 0 50px;
    }
    @media (min-width: 1025px) and (max-width: 1280px) {
      // laptop size
      padding: 0 50px;
    }
    @media (min-width: 1281px) {
      // desktop size
      padding: 0 100px;
    }
    background-color: $color_white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo{
      width: auto;
      height: 100%;
      img {
        width: auto;
        height: 50%;
      }
    }
    .menuList {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .menuIconContainer{
        border-bottom: none;
        margin: 0 10px;
        @media (min-width: 768px) and (max-width: 1024px) {
          // tablet size
          margin: 0 20px;
        }
        @media (min-width: 1025px) and (max-width: 1280px) {
          // laptop size
          margin: 0 20px;
        }
        @media (min-width: 1281px) {
          // desktop size
          margin: 0 20px;
        }
        .menuIcon {
          margin: 0;
          font-size: 18px;
        }
      }
      .menuIconContainer:hover {
        color: grey;
        border-bottom: none;
      }      
    }
  }
  .contentContainer {
    margin: 0 auto;
    width: 85%;
    @media (min-width: 768px) and (max-width: 1024px) {
      // tablet size
      width: 80%;
    }
    @media (min-width: 1025px) and (max-width: 1280px) {
      // laptop size
      width: 80%;
    }
    @media (min-width: 1281px) {
      // desktop size
      width: 75%;      
    }
  }
}