@import '../../../variable';

.contentCard {
  background: $color_white;
  padding: 20px 10px;
  margin: 1px;
  cursor: pointer;
  .header {
    display: flex;
    align-items: center;
    img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      object-fit: contain;
      border: 1px solid $color_light_grey2;
    }
    .title {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .name {
        font-family: MonserratRegular;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .createdAt {
        font-size: 8px;
      }
    }    
  }
  .imageSection {
    width: 100%;
    margin: 10px 0;
    height: 85vw;
    @media (min-width: 768px) and (max-width: 1024px) {
      // tablet size
      height: calc(80vw/3);
    }
    @media (min-width: 1025px) and (max-width: 1280px) {
      // laptop size
      height: calc(80vw/3);
    }
    @media (min-width: 1281px) {
      // desktop size
      height: calc(75vw/3);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
  
    }

  }
  .detailContainer {
    .detail {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .label {
        font-size: 12px;
        margin-left: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    
  }
}