// font
// @import url('https://fonts.googleapis.com/css?family=Kanit:100,300&subset=thai');

@font-face {
  font-family: 'MonserratLight';
  src: url('./fonts/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'MonserratRegular';
  src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'MonserratBold';
  src: url('./fonts/Montserrat-Medium.ttf');
}

// color
$color_white: #ffffff;
$color_light_grey: #fafafa;
$color_light_grey2: #e8e8e8;
$color_light_grey3: #d9d9d9;
$color_navy: #1d3143;
$color_transparent: rgba(255,255,255,0.5);

