@import './_variable.scss';

html {
  body {
    background: $color_light_grey;
    font-family: MonserratLight;
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  .temp {
    color: green;
    font-family: MonserratLight;
  }
  .temp2 {
    color: green;
    font-family: MonserratRegular;
  }
  .temp3 {
    color: green;
    font-family: MonserratBold;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
