@import '../../../variable';

.contentDetailContainer {
  .header{
    display: flex;
    align-items: center;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: contain;
      border: 1px solid $color_light_grey2;
    }
    .title {
      font-family: MonserratBold;
      margin-left: 20px;
    }
  }  
  .detail {
    .label {
      font-family: MonserratBold;
    }
    .description {
      margin-left: 5px;
    }
    .content {
      overflow-y: scroll;
      height: 40vh;
      margin: 10px 0;
    }
  }
  .footer {
    display: flex;
    justify-content: flex-end;
  }
}